/*  Ex: 01
In this first example is the form
how the gallery would be made using just flex.

(Neste primeiro exemplo está a forma 
de como seria feito a galeria apenas usando flex )


body{
    background-color: #272527;
}

img {
    width: 100%;
    border-radius: 4px;
}

figure {
    margin: 0;
    display: flex;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container {
    column-count: 5;
    column-gap: 10px;
}
*/ 




/*  Ex: 02
In the codes below implementing the idea of grid using MASONRY LAYOUT
(Nos códigos abaixo implementando a ideia de grid usando o MASONRY LAYOUT)

- Pinterest style

Attention: - Only works on Firefox Nightly 
(Somente funciona no Firefox Nightly)
*/
 
 body{
    background-color: #272527;
}

img {
    width: 100%;
    border-radius: 4px;
}

figure {
    margin: 0;
    display: flex;
    margin-bottom: 8px;
    break-inside: avoid;
}

 .container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 2fr);    
    grid-template-rows: masonry;
  } 

/*  



Ex: 03 - Positioning on the axis 
(Posicionamento no eixo)

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr [box-start] 1fr 1fr [box-end] 1fr;
  grid-template-rows: masonry;
}

.positioned {
  grid-column: box-start / box-end;
  border: 5px solid white;
}
 
 */



/*  Ex: 04 -  Landscape

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  gap: 10px;
}

.landscape {
  grid-column-end: span 2;
}

 */ 